.toast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 12px 16px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  width: 90vw;
  min-width: 240px;
  max-width: 400px;
  overflow: hidden;
  border: 2px solid var(--bg-dark2);
  border-bottom: none;
}
.toast .fa-xmark {
  color: white !important;
}
.toast i {
  margin-right: 6px;
  font-size: 18px;
}
.toast .toast-error .fal {
  color: var(--error);
}
.toast .toast-info .fal {
  color: var(--info);
}
.toast .toast-warning .fal {
  color: var(--warning);
}
.toast .toast-success .fal {
  color: var(--success);
}
.toast .toast-close {
  background: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px 8px;
  border: 0.1px solid var(--bg-dark2);
  border-radius: 2px;
}
.toast .toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  animation: toastProgress 3.5s linear forwards;
  width: 100%;
}
.toast .toast-progress.error {
  background-color: var(--error);
}
.toast .toast-progress.info {
  background-color: var(--info);
}
.toast .toast-progress.warning {
  background-color: var(--warning);
}
.toast .toast-progress.success {
  background-color: var(--success);
}

@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
html, body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  accent-color: var(--primary);
}

::selection {
  color: var(--text-light);
  background-color: var(--primary-dark);
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf");
}
@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans.ttf");
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab.ttf");
}
@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans.ttf");
}
* {
  font-family: var(--font-family), "Lato", sans-serif;
}

.green {
  color: green;
}

.red {
  color: red;
}

::placeholder {
  color: gray;
}

.grey-1 {
  color: gray;
}

.grey-2 {
  color: #686868;
}

.grey-3 {
  color: #a2a2a2;
}

.grey-4 {
  color: #bbbbbb;
}

.grey-5 {
  color: #c0c0c0;
}

.grey-6 {
  color: #b0b0b0;
}

a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

img,
button,
::placeholder {
  user-select: none;
}

input:disabled {
  cursor: no-drop;
}

button {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  -kkee-user-drag: none;
  -moz-user-drag: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/*# sourceMappingURL=all.css.map */
