body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: white;
  background-color: #1f1c2e;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/jnv-bg-1.jpg") center center/cover no-repeat;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  gap: 2rem;
}
.hero .hero-text {
  flex: 1;
}
.hero .hero-text h2 {
  font-size: 42px;
  color: white;
  margin-bottom: 16px;
  margin-top: 0;
}
.hero .hero-text h2 span {
  -webkit-text-stroke: 0.005px white;
}
@media (max-width: 768px) {
  .hero .hero-text h2 {
    margin-top: 16px;
  }
}
.hero .hero-text p {
  margin: 1rem 0;
  font-size: 1.2rem;
  width: 50%;
  min-width: 284px;
  line-height: 26px;
}
.hero .hero-text .cta-btn {
  background: #6342d8;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}
.hero .hero-text .cta-btn:hover {
  background: #7b5cf0;
}
.hero .featured-photo {
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 40vw;
  border: 1px solid #9e9e9e;
  border-radius: 12px;
}
.hero .featured-photo img.featured-photo-img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  display: block;
}
.hero .featured-photo .overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  padding-top: 36px;
  height: 72px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  font-size: 22px;
  border-radius: 12px;
}

.about,
.features,
.members,
.contact,
.gallery {
  padding: 4rem 10%;
  text-align: left;
  background: #1f1c2e;
}
.about h3,
.features h3,
.members h3,
.contact h3,
.gallery h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}
.about p,
.features p,
.members p,
.contact p,
.gallery p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0;
  color: rgb(172, 172, 172);
  text-align: left;
}

.about p {
  line-height: 26px;
}

.members,
.gallery,
.features,
.contact {
  padding-top: 2rem;
}

.members-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 188px);
  grid-auto-columns: 188px;
  height: 456px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 0.5rem;
  padding-left: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
.members-grid .member-card {
  background: #1f1c2e;
  user-select: none;
  padding: 1.2rem;
  text-align: left;
  border-radius: 1rem;
  border: 0.5px solid grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 188px;
  height: 188px;
  transition-duration: 0.25s;
}
.members-grid .member-card .member-profile-pic {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.members-grid .member-card h4 {
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 16px;
}
.members-grid .member-card p {
  font-size: 0.95rem;
  color: grey;
}
.members-grid .member-card:hover {
  transform: translateY(-5px);
  transition: 0.25s transform ease;
}

.gallery-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 200px);
  grid-auto-columns: 240px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 0.5rem;
  padding-left: 0;
  padding-top: 16px;
  padding-bottom: 32px;
}
.gallery-grid .image-card {
  background: #1f1c2e;
  user-select: none;
  padding: 0;
  border-radius: 1rem;
  border: 0.5px solid grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  cursor: pointer;
  width: 240px;
  height: 200px;
}
.gallery-grid .image-card:hover {
  transform: translateY(-5px);
  transition: 0.3s transform ease;
}
.gallery-grid .image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.features-grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.features-grid .feature-card {
  background: #1f1c2e;
  user-select: none;
  padding: 1.5rem;
  text-align: left;
  border-radius: 1rem;
  border: 0.5px solid grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
}
.features-grid .feature-card .feature-icon {
  font-size: 36px;
}
.features-grid .feature-card h4 {
  color: white;
  margin-bottom: 0.5rem;
}
.features-grid .feature-card p {
  font-size: 0.95rem;
  color: grey;
}
.features-grid .feature-card:hover {
  transform: scale(1.05);
  transition: 0.2s transform ease;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #1f1c2e;
  color: grey;
  font-size: 0.9rem;
  border-top: 1px solid #9e9e9e;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    gap: auto;
  }
  .hero .hero-text {
    margin-top: 12px;
  }
  .hero .hero-text #greeting {
    margin-top: 24px;
    font-size: 32px;
  }
  .hero .featured-photo {
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    margin-top: 108px;
    transform: scale(1.1);
  }
}
@media screen and (min-width: 890px) {
  #greeting {
    margin-top: 0;
  }
  .about-and-newsletter {
    display: flex;
  }
  .about-and-newsletter .about {
    width: 70%;
  }
  .about-and-newsletter .newsletter-sub {
    background: #1f1c2e;
  }
}
@media screen and (min-width: 890px) {
  .about-and-newsletter {
    display: flex;
  }
  .about-and-newsletter .about {
    width: 70%;
  }
  .about-and-newsletter .newsletter-sub {
    background: #1f1c2e;
    box-sizing: border-box;
    border: 3px solid #7b5cf0;
    border-radius: 8px;
    margin: 5rem 0;
    margin-right: 5%;
    padding: 0 36px;
    padding-top: 16px;
    max-height: max-content;
    width: auto;
    max-width: 400px;
  }
  .about-and-newsletter .newsletter-sub input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    background: #2c283d;
    color: #ffffff;
    outline: none;
  }
  .about-and-newsletter .newsletter-sub input:focus {
    border: 1px solid #7b5cf0;
  }
  .about-and-newsletter .newsletter-sub button {
    background: #7b5cf0;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 4px;
    width: 100%;
  }
  .about-and-newsletter .newsletter-sub button:hover {
    background: #6342d8;
  }
}
@media screen and (max-width: 890px) {
  .newsletter-sub {
    background: #1f1c2e;
    box-sizing: border-box;
    margin: 4rem 8%;
    padding: 8px 32px;
    border: 3px solid #7b5cf0;
    border-radius: 8px;
    width: auto;
    min-width: 250px;
  }
  .newsletter-sub input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    background: #2c283d;
    color: #ffffff;
    outline: none;
  }
  .newsletter-sub input:focus {
    border: 1px solid #7b5cf0;
  }
  .newsletter-sub button {
    background: #7b5cf0;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 4px;
    width: 100%;
  }
  .newsletter-sub button:hover {
    background: #6342d8;
  }
}
.contact input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background: #2c283d;
  color: #ffffff;
  outline: none;
  max-width: 400px;
}
.contact input:focus {
  border: 1px solid #7b5cf0;
}
.contact button {
  background: #7b5cf0;
  color: #ffffff;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 8px;
  width: 100%;
  max-width: 400px;
}
.contact button:hover {
  background: #6342d8;
}
.contact h3 {
  margin-bottom: 2rem;
}
.contact p.contact-text {
  line-height: 28px !important;
}

@media screen and (min-width: 900px) {
  .contact {
    width: 50%;
  }
}
@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
