.header .user-capsule-wrapper {
  position: relative;
  display: inline-block;
}
.header .user-capsule-wrapper .user-dropdown {
  box-sizing: border-box;
  position: absolute;
  top: 112%;
  right: 0;
  background: #1f1c2e;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  padding: 8px;
  width: 180px;
  list-style: none;
  cursor: pointer;
}
.header .user-capsule-wrapper .user-dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header .user-capsule-wrapper .user-dropdown li {
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.header .user-capsule-wrapper .user-dropdown li:hover {
  background: #2b273f;
}
.header .user-capsule-wrapper .user-dropdown li a {
  text-decoration: none !important;
  color: white;
  font-size: 15px;
}
.header .user-capsule-wrapper .user-dropdown li a span {
  width: 32px;
  font-size: 16px !important;
}
.header .user-capsule-wrapper .user-dropdown .logout-btn a {
  color: red !important;
}
.header .user-capsule-wrapper .user-dropdown .logout-btn a span {
  color: red !important;
}
.header .user-capsule-wrapper .user-capsule {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px;
  padding-right: 12px;
  margin: 0;
  border: 1px solid #888;
  border-radius: 24px;
  background-color: #1f1c2e;
  cursor: pointer;
}
.header .user-capsule-wrapper .user-capsule img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.header .user-capsule-wrapper .user-capsule p {
  margin: 0;
  font-size: 13px;
  color: white;
}
.header nav.small-only .user-capsule-2 {
  padding-right: 2px;
}
.header nav.small-only .user-capsule-2 a {
  color: #7b5cf0;
  text-decoration: none;
  user-select: none;
  height: 32px;
  padding-top: 7px;
}
.header nav.small-only .user-capsule-2 span.fal.fa-bell,
.header nav.small-only .user-capsule-2 span.fal.fa-message-lines {
  width: 28px;
  height: 100%;
  text-align: center;
  margin-left: 4px;
  color: white;
  font-size: 18px;
}
.header nav.small-only .user-capsule-2 .fal.fa-bell {
  position: relative;
}
.header nav.small-only .user-capsule-2 .fal.fa-bell.has-unread::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 6px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.header nav.small-only .user-capsule-2 img {
  width: 32px;
  height: 32px;
  margin-left: 4px;
}

@media (max-width: 640px) {
  .user-capsule-wrapper {
    margin-left: auto;
  }
  .user-capsule-wrapper .user-dropdown {
    top: 100%;
    margin-top: 0;
  }
}
.header {
  background: #1f1c2e;
  top: 0;
  z-index: 10;
  height: 0;
  user-select: none;
  position: absolute;
}
.header nav.large-and-medium {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  width: 100vw;
  padding-right: 36px;
}
.header nav.large-and-medium h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  user-select: none;
  background: transparent;
}
.header nav.large-and-medium ul.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
}
.header nav.large-and-medium ul.nav-items li {
  color: white;
  cursor: pointer;
}
.header nav.large-and-medium ul.nav-items li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.header nav.large-and-medium ul.nav-items li a:hover {
  text-decoration: underline;
}
.header nav.large-and-medium ul.nav-items li a span.fal {
  font-size: 20px;
  color: white;
  transition-duration: 0.3s;
}
.header nav.large-and-medium ul.nav-items li a span.fal:hover {
  color: #7b5cf0;
}
.header nav.large-and-medium ul.nav-items li a .fal.fa-bell {
  position: relative;
}
.header nav.large-and-medium ul.nav-items li a .fal.fa-bell.has-unread::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.header nav.large-and-medium ul.nav-items .login-btn {
  background: #6342d8;
  color: white;
  padding: 10px 32px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.header nav.large-and-medium ul.nav-items .login-btn:hover {
  background: #6342d8;
  text-decoration: none;
}
.header nav.small-only {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  min-width: 300px;
  width: 100vw;
}
.header nav.small-only span.menu-icon {
  font-size: 20px;
  padding: 6px 8px;
  border: 1.2px solid white;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.header nav.small-only p.brand {
  margin-left: 16px;
  font-size: 22px;
  padding-bottom: 2px;
  user-select: none;
  color: white;
  font-weight: bold;
}
.header nav.small-only .login-btn {
  background: #6342d8;
  margin-left: auto;
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}
.header nav.small-only .login-btn:hover {
  background: #6342d8;
  text-decoration: none;
}
.header #mobileSidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.header #mobileSidebar #sidebarContent {
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: #1f1c2e;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.header #mobileSidebar #sidebarContent .close-icon {
  position: absolute;
  background-color: #2b273f;
  right: 12px;
  color: white;
  top: 12px;
  padding: 10px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.header #mobileSidebar #sidebarContent .close-icon:hover {
  background-color: #1f1c2e;
  transition: 0.3s ease;
}
.header #mobileSidebar #sidebarContent .close-icon span {
  font-size: 20px;
}
.header #mobileSidebar #sidebarContent img {
  width: 100%;
}
.header #mobileSidebar #sidebarContent ul {
  padding: 10px;
  padding-top: 16px;
  list-style: none;
  margin: 0;
}
.header #mobileSidebar #sidebarContent ul li {
  margin: 6px 0;
  padding: 12px 8px;
  border-radius: 8px;
  padding-left: 16px;
  cursor: pointer;
}
.header #mobileSidebar #sidebarContent ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.header #mobileSidebar #sidebarContent ul li a span {
  width: 36px;
}
.header #mobileSidebar #sidebarContent ul li:hover {
  background-color: #2b273f;
}

@media screen and (min-width: 641px) {
  .small-only {
    display: none !important;
  }
  .header {
    padding: 0 24px;
  }
}
@media screen and (max-width: 640px) {
  .large-and-medium {
    display: none !important;
  }
}

/*# sourceMappingURL=navbar.css.map */
