body {
  margin: 0;
  background: transparent;
  color: var(--text-light);
}

.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("/images/jnv-bg-1.jpg") center center/cover no-repeat;
}
@media (max-width: 768px) {
  .container {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/jnv-bg-1.jpg") center center/cover no-repeat;
  }
}

.right-pane {
  flex: 1;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  max-width: 800px;
  min-width: min(100vw, 500px);
  margin: auto;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}
.right-pane ::-webkit-scrollbar {
  display: none;
}
.right-pane .signup-form {
  width: 100%;
  max-width: 440px;
  padding: 2rem;
  overflow-y: auto;
}
.right-pane .signup-form h1 {
  margin-bottom: 0.5rem;
  margin-top: 84px;
}
.right-pane .signup-form p {
  font-size: 0.9rem;
}
.right-pane .signup-form p a {
  color: var(--primary);
  text-decoration: none;
}
.right-pane .signup-form input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: var(--text-light);
  outline: none;
  border: 1px solid var(--text-disabled);
}
.right-pane .signup-form input:focus {
  border: 1px solid var(--primary);
}
.right-pane .signup-form .password-field {
  position: relative;
}
.right-pane .signup-form .password-field .eye-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.right-pane .signup-form .username-field {
  position: relative;
}
.right-pane .signup-form .username-field .status-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.right-pane .signup-form .username-field .fa-spin {
  position: absolute;
  top: 36%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.right-pane .signup-form .username-field .fa-check-circle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: green;
  font-weight: bold;
}
.right-pane .signup-form .username-field .fa-circle-xmark {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: red;
  font-weight: bold;
}
.right-pane .signup-form .terms {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}
.right-pane .signup-form .terms input {
  margin-right: 0.5rem;
  width: auto;
}
.right-pane .signup-form .terms a {
  color: var(--primary);
  text-decoration: none;
}
.right-pane .signup-form .primary-btn {
  background: var(--primary-dark);
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 8px;
  color: var(--text-light);
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.right-pane .signup-form .primary-btn:hover {
  background: var(--primary);
}
.right-pane .signup-form .divider {
  text-align: center;
  margin: 1rem 0;
  color: var(--text-muted);
}
.right-pane .signup-form .social-buttons {
  display: flex;
  gap: 1rem;
}
.right-pane .signup-form .social-buttons button {
  flex: 1;
  background: var(--input-bg);
  color: var(--text-light);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}
.right-pane .signup-form .social-buttons button:hover {
  background: var(--text-muted);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .signup-form h1 {
    margin-top: 84px;
  }
  .right-pane {
    height: 100vh;
    padding: 1.5rem;
  }
  .right-pane .signup-form {
    padding: 0.5rem;
  }
}
@media (max-width: 600px) {
  .container .right-pane .signup-form {
    max-width: 100%;
    padding: 1rem;
    padding-top: 0;
  }
  .container .right-pane .signup-form h1 {
    margin-top: 64px;
  }
  .container .right-pane .signup-form .name-fields {
    flex-direction: column;
  }
  .container .right-pane .signup-form input,
  .container .right-pane .signup-form .primary-btn,
  .container .right-pane .signup-form .social-buttons button {
    font-size: 0.9rem;
  }
  .container .right-pane .signup-form .divider {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 600px) {
  .only-small {
    display: none;
  }
}
#forgotten-password-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  margin: auto;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#forgotten-password-popup.show {
  transform: translateY(0);
  opacity: 1;
}
#forgotten-password-popup .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
}
#forgotten-password-popup .overlay.show {
  opacity: 1;
}
#forgotten-password-popup .forgotten-password-box {
  width: 85vw;
  max-width: var(--maxWidth, 700px);
  max-height: var(--maxHeight, 600px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-dark);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#forgotten-password-popup .forgotten-password-box .heading {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  padding-left: 16px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--text-muted);
}
#forgotten-password-popup .forgotten-password-box .heading .title span {
  margin-right: 16px;
}
#forgotten-password-popup .forgotten-password-box .heading p.close-icon {
  margin: 12px;
  margin-left: auto;
  margin-right: 16px;
  background-color: var(--bg-dark2);
  padding: 8px;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border: 0.2px solid var(--text-muted);
  color: white;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list {
  padding: 20px;
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 8px;
  background: var(--input-bg);
  color: var(--text-light);
  outline: none;
  resize: vertical;
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list input:focus {
  border: 1px solid var(--primary);
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list #forgotten-password-status {
  margin-top: 4px;
  font-weight: 500;
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list button[type=submit] {
  background-color: var(--primary-dark);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background 0.3s;
}
#forgotten-password-popup .forgotten-password-box .forgotten-password-list button[type=submit]:hover {
  background-color: var(--primary);
}

@media (max-width: 600px) {
  .forgotten-password-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  width: 100%;
  color: rgb(78, 78, 78);
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.2s;
}
.google-btn:hover {
  background: #f2f2f2;
}
.google-btn .google-icon {
  position: absolute;
  left: 1rem;
  width: 20px;
  height: 20px;
}
.google-btn span {
  color: var(--primary-dark);
}

.email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--input-border);
  border-radius: 8px;
  padding: 0.8rem;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background 0.2s;
  background: var(--bg-dark3);
  color: white;
  font-weight: 400;
  font-size: 0.95rem;
}
.email-btn:hover {
  background: var(--bg-dark2);
}
.email-btn .email-icon {
  position: absolute;
  left: 0.8rem;
  font-size: 1.2rem;
  color: var(--text-light);
}

/*# sourceMappingURL=signup_login.css.map */
