<div class="left-pane">
      <div class="carousel">
        <div class="slide active" style="background-image: url('/images/jnv-bg-1.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-2.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-3.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-4.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-5.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-6.jpg');"></div>
        <div class="slide" style="background-image: url('/images/jnv-bg-7.jpg');"></div>

        <div class="header">
          <div class="logo">2k17 ❤️</div>
          <a href="/" class="back-button">Back to website &nbsp; <span class="fal fa-arrow-right"></span></a>
        </div>

        <div class="image-caption">
          <p>Capturing Moments,<br>Creating Memories</p>
          <div class="dots">
            <span class="dot active" data-index="0"></span>
            <span class="dot" data-index="1"></span>
            <span class="dot" data-index="2"></span>
            <span class="dot" data-index="3"></span>
            <span class="dot" data-index="4"></span>
            <span class="dot" data-index="5"></span>
            <span class="dot" data-index="6"></span>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/login-carousel.js"></script>