@use '../../global' as *;

@mixin fullscreen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }

    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
        
        &.show {
            opacity: 1;
        }
    }
}

@mixin popup-box($maxWidth : 700px, $maxHeight: 500px) {
    width: 85vw;
    max-width: $maxWidth;
    max-height: $maxHeight;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bg-dark;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .heading {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
        padding-left: 16px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid $text-muted;

        .title {
            span {
                margin-right: 16px;
            }
        }

        p.close-icon {
            margin: 12px;
            margin-left: auto;
            margin-right: 16px;
            background-color: $bg-dark2;
            padding: 8px;
            font-size: 14px;
            width: 32px;
            height: 32px;
            border: 0.2px solid $text-muted;
            color: white;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
        }
    }
}

@mixin popup-inputs {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    background: $input-bg;
    color: $text-light;
    outline: none;
    resize: vertical;

    &:focus {
        border: 1px solid $primary;
    }
}

@mixin popup-button {
    background-color: $primary-dark;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background 0.3s;

    &:hover {
        background-color: $primary;
    }
}