// General styles
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;

    @media (max-width: 768px) {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
    }
}

.quiz-container,
.results-container {
    background: transparent;
    backdrop-filter: blur(16px);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--text-muted);
    width: calc(100% - 2rem);
    max-width: 600px;
    text-align: center;
}

.leaderboard-container {
    background: transparent;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100vw;
    max-width: 650px;
    padding: 2rem 1.5rem;
    max-height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

h1 {
    color: var(--primary);
    font-size: 1.75rem;
}

.question {
    text-align: left;
    margin: 1.5rem 0;
    line-height: 26px;
}

.progress-bar {
    margin-bottom: 1rem;
    color: #718096;
}

.options-grid {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

.option-card {
    position: relative;
    text-align: left;

    label {
        display: block;
        padding: 0.8rem 1rem;
        border: 1px solid var(--text-disabled);
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            border-color: var(--primary);
            color: var(--primary);
        }
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+label {
            background-color: var(--primary-dark);
            border-color: var(--primary-dark);
            color: white;
        }
    }
}

.submit-btn,
.btn {
    background: var(--primary-dark);
    color: white;
    padding: 0.75rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    width: 240px;
    margin: auto;
    justify-content: center;

    span.fal {
        margin-right: 12px;
    }

    &:hover {
        background: var(--primary);
    }
}

.score {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0;
}

.score-display {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 0 0 1rem 0;
}

.rank {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 26px;

    span {
        color: var(--primary-dark);
    }
}

.actions {
    margin-top: 2rem;
}

.leaderboard-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2.5rem;
    text-align: left;
    font-size: 1rem;
    border-spacing: 0;
    border-radius: 6px !important;
    backdrop-filter: blur(6px);

    th,
    td {
        padding: 1rem;
    }

    thead tr {
        background-color: rgba(93, 93, 93, 0.15);
        border-radius: 6px 6px 0 0;
    }

    tbody {
        tr {
            background-color: rgba(93, 93, 93, 0.1);

            &:nth-child(odd) {
                background-color: rgba(93, 93, 93, 0.15);
            }
        }

        .name {
            font-weight: 500;
        }

        .score {
            color: var(--text-light); 
            text-align: right;
        }

        .rank {
            text-align: center;
            width: 4em;
        }
    }
}