@use 'global' as *;
@use 'components/popup/mixins' as *;

body{
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;

  @media (max-width: 768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
  }
}

.admin-btns {
  padding: 8px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;

  button {
    flex: 1 1 calc(50% - 6px); // Default to 2 per row
    min-width: 220px;
    width: 100%;
  }

  .tool-btn {
    background: $bg-dark2;
    display: flex;
    gap: 12px;
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: $text-light;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    align-items: center;

    &:hover {
      background: $primary-dark;
    }

    span.fal {
      font-size: 18px;
      margin-right: 8px;
      width: 20px;
    }
  }

  // Small screens: stack vertically
  @media (max-width: 612px) {
    flex-direction: column;
    gap: 0;

    button {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  // Large screens: all in one row
  @media (min-width: 1025px) {
  flex-wrap: nowrap; // ensures all in one row
  button {
    flex: 1 1 0; // allow buttons to shrink/grow equally
    max-width: none;
  }
}

}


.reports-logs {
  padding: 8px 20px;

  h2{
    color: $primary-dark;
    font-size: 22px;
  }
  
  .search-bar {
    padding:12px 10px;
    border: 0.5px solid $text-muted;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(6px);
    color: $text-light;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    
    &::placeholder {
      color: $text-muted;
    }
  }
}

.activity-logs {
  padding: 8px 20px;
  
  h2{
    color: $primary-dark;
    font-size: 22px;
  }
  .search-bar {
    padding:12px 10px;
    border: 0.5px solid $text-muted;
    border-radius: 5px;
    backdrop-filter: blur(6px);
    background: transparent;
    color: $text-light;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;

    &::placeholder {
      color: $text-muted;
    }
  }

}

.logs-table-wrapper {
  overflow-x: auto;
  background: transparent;
  backdrop-filter: blur(6px);
  text-align: center;
  border: 0.5px solid $text-muted;

  #loadMoreLogsBtn {
    background: $primary-dark;
    padding: 10px 12px;
    width: 90%;
    max-width: 200px;
    border: none;
    border-radius: 4px;
    color: $text-light;
    font-weight: bold;
    margin: 12px auto;
    cursor: pointer;

    &:hover {
      background: $primary;
    }
  }
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  color: $text-light;
  text-align: left;
  

  thead {
    background: transparent;

    th {
      text-align: left;
      padding: 12px;
      color: $primary;
      font-weight: 600;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $bg-dark;

      &:hover {
        background: $bg-dark2;
      }
    }

    td {
      padding: 10px 12px;
      color: $text-light;
      font-size: 14px;

      .resolve-link {
        color: $primary;
        cursor: pointer;
      }
    }
  }
}


#resolve-report-popup {
  @include fullscreen-popup;

  .resolve-report-box {
    @include popup-box;

    .resolve-report-list {
      padding: 20px;

      .info-box {
        font-size: 14px;

        #report-user {
          color: $primary;
          cursor: pointer;
        }
      }

      input,
      textarea {
        @include popup-inputs;
      }

      #resolve-report-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#newsletter-popup {
  @include fullscreen-popup;

  .newsletter-box {
    @include popup-box;

    .newsletter-list {
      padding: 20px;

      .info-box {
        font-size: 14px;

        #report-user {
          color: $primary;
          cursor: pointer;
        }
      }

      input,
      textarea {
        @include popup-inputs;
      }

      #newsletter-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}
#send-notification-popup {
  @include fullscreen-popup;

  .send-notification-box {
    @include popup-box;

    .send-notification-list {
      padding: 20px;

      .info-box {
        font-size: 14px;

        #report-user {
          color: $primary;
          cursor: pointer;
        }
      }

      input,
      textarea {
        @include popup-inputs;
      }

      #send-notification-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

@media (max-width: 600px) {
  .resolve-report-box, .newsletter-box, .send-notification-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}

.table-scroll-wrapper {
  width: 100%;
  padding-bottom: 1rem;
}

.user-info-profile {
  margin: 1.2rem auto;
  text-align: center;

  img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user-info-table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
  background: $bg-dark2;
  color: $text-light;
  overflow: hidden;

  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #444;

    &:first-child {
      width: 30%;
      font-weight: bold;
      color: #888;
    }
  }

  tr:last-child td {
    border-bottom: none;
  }

}

#users-table {
  tbody tr td{
    font-size: 14px;
  }
  tr:nth-of-type(even) {
    background: rgba($bg-dark, 0.8);
  }

  #user-btn-action {
    background: rgb(87, 87, 87);
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.75rem;
    width: 100px;
    transition: background 0.3s;

    &:hover {
      background-color: rgb(62, 62, 62);
    }
  }
}


#user-info-popup {
  @include fullscreen-popup;

  .user-info-box {
    @include popup-box;
    overflow-y: auto;

    .user-info-list {
      padding: 0;

      p {
        line-height: 25px;
      }

      button {
        &.btn-danger {
          background: rgb(200, 37, 37);

          &:hover {
            background-color: red;
          }
        }

        &.btn-success {
          background: rgb(5, 161, 5);

          &:hover {
            background-color: green;
          }
        }

        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.75rem;
        width: 100%;
        max-width: 120px;
        transition: background 0.3s;
      }
    }
  }
}

@media (max-width: 600px) {
  .user-info-box, .resolve-report-box, .newsletter-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}