
@use 'components/toast' as *;

html, body{
  box-sizing: border-box;
  width: 100vw;
  overflow-x: auto;       
  overflow-y: scroll;   

  scrollbar-width: none;    
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 0;               
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  accent-color: var(--primary);
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/Merriweather.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans.ttf');
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/RobotoSlab.ttf');
}

* {
  font-family: var(--font-family) , "Lato", sans-serif;
}

.green {
  color: green;
}

.red {
  color: red;
}

::placeholder {
  color: gray;
}

.grey-1 {
  color: gray;
}

.grey-2 {
  color: #686868;
}

.grey-3 {
  color: #a2a2a2;
}

.grey-4 {
  color: #bbbbbb;
}

.grey-5 {
  color: #c0c0c0;
}

.grey-6 {
  color: #b0b0b0;
}

a {
  color: var(--primary);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

img,
button,
::placeholder {
  user-select: none;
}

input:disabled {
  cursor: no-drop;
}

img{
  -webkit-user-drag: none;
  -kkee-user-drag: none;
  -moz-user-drag: none;
}