body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
}

.support-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 24px;
  background: transparent;
  min-height: 90vh;
  backdrop-filter: blur(5px);

  @media (max-width: 768px) {
    padding: 4rem 0;
    width: 100vw;
  }

  .support-container {
    background: transparent;
    padding: 1.2rem 2rem;
    padding-top: 0.8rem;
    border-radius: 1.5rem;
    max-width: min(600px, 100vw);
    width: 100%;
    text-align: left;
    margin: auto;

    @media (max-width: 768px) {
      box-shadow: none;
      padding: 16px 28px;
      padding-top: 12px;
      border-radius: 0;
    }

    h1 {
      font-size: 28px;
      color: white;
      margin-bottom: 2rem;
    }

    .description {
      font-size: 0.95rem;
      color: var(--text-light);
      margin-bottom: 2rem;
      line-height: 22px;
    }

    .qr-box {
      text-align: center;

      img.qr-code {
        width: 60vw;
        max-width: 300px;
        max-height: 300px;
        margin: 8px;
        text-align: center;
      }
    }


    .support-btn {
      background: var(--primary-dark);
      color: var(--text-light);
      padding: 0.8rem;
      border: none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      transition: 0.3s ease;
      margin-top: 4px;
      margin-bottom: 6px;
      width: 100%;

      &:hover {
        background: var(--primary);
      }
    }
  }
}