
@use 'components/home/comments';
@use 'components/home/posts';
@use 'components/home/notifications';
@use 'components/home/pwa_banner';
@use 'components/popup/mixins' as popup;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--font-family), sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: white;
  background-color: var(--bg-dark);
}

.events-container {
  padding: 0 6%;
  min-width: 300px;

  .events {
    padding: 12px 24px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 48px;
    background-color: var(--bg-dark2);
    border-radius: 8px;

    .heading {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .event {
      display: flex;
      align-items: center;
      cursor: pointer;

      p.title {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 12px;
      }

      p.description {
        font-size: 14px;
        color: var(--text-muted);
        margin-top: 4px;
        margin-bottom: 12px;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 16px;
        object-fit: cover;
      }
    }
  }
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  gap: 3rem;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;

  .hero-text {
    flex: 1;

    h2 {
      font-size: 42px;
      color: white;
      margin-bottom: 16px;

      span {
        -webkit-text-stroke: 0.005px white;
      }
    }

    p {
      margin: 1rem 0;
      font-size: 1.2rem;
      width: 50%;
      min-width: 284px;
      line-height: 26px;
    }

    .cta-btn {
      background: var(--primary-dark);
      color: var(--text-light);
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      border-radius: 8px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--primary);
      }
    }
  }

  .featured-photo {
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: max(40vw, 500px);
    ;
    border: 1px solid var(--text-muted);
    border-radius: 12px;
    transition: 0.3s transform ease;

    &:hover {
      transform: scale(1.01);
    }

    img.featured-photo-img {
      height: min(calc(40vh - 6rem), 300px);
      object-fit: cover;
      border-radius: 12px;
      width: 100%;
      display: block;
    }

    .overlay-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 15px;
      padding-top: 36px;
      height: 72px;
      color: white;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
      font-size: 20px;
      border-radius: 12px;
    }
  }

}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    gap: auto;

    .hero-text {
      margin-top: 12px;

      #greeting {
        margin-top: 24px;
        font-size: 32px;
      }
    }

    .featured-photo {
      max-width: 500px;
      min-width: 250px;
      width: 90%;
      margin-top: 124px;
      transform: scale(1.1);

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 899px) {
  #greeting {
    margin-top: 0;
  }
}

#post-likes-popup {
  @include popup.fullscreen-popup;

  .post-likes-box {
    @include popup.popup-box(500px);

    .post-likes-list {
      padding: 20px;

      input {
        @include popup.popup-inputs;
      }

      #post-likes-status {
        margin-top: 4px;
        font-weight: 500;
      }

      .popup-btns {
        display: flex;
        gap: 12px;

        button {
          background-color: var(--input-bg);
          color: white;
          border: none;
          padding: 0.75rem 1.5rem;
          border-radius: 8px;
          cursor: pointer;
          font-size: 1rem;
          width: 100%;
          transition: background 0.3s;

          &:hover {
            background-color: var(--text-disabled);
          }
        }

        button[type="submit"] {
          @include popup.popup-button;
        }
      }
    }
  }
}


#birthday-spotlight {
  background: var(--bg-dark);
  padding: 1rem 10%;
  border-radius: 10px;
  margin-top: 2rem;
  padding-bottom: 1rem;

  @media (max-width: 600px) {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
  }

  h3 {
    color: var(--text-light);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

    span {
      margin-right: 12px;
      margin-left: 2px;
    }
  }

  p {
    color: var(--text-muted);
    font-size: 1rem;
    margin-bottom: 0;

    a {
      color: var(--primary-light);
      text-decoration: underline;

      &:hover {
        color: var(--primary);
      }
    }
  }

  .gallery-grid {
    display: flex;
    gap: 1.2rem;
    margin-top: 0.75rem;
    padding: 16px 0;
    padding-bottom: 24px;
    overflow-x: auto;

    .image-card {
      background: var(--bg-dark);
      border-radius: 10px;
      height: max-content;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 0 0 transparent;
      border: 0.5px solid var(--text-light);
      min-width: 225px;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        background: rgba(var(--bg-dark), 0.75);
      }

      img {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 50%;
        object-fit: cover;
      }

      h4 {
        color: var(--primary);
        font-size: 1.2rem;
        margin: 4px 0;
        margin-top: 12px;
      }

      p {
        color: var(--text-muted);
        font-size: 1rem;
        line-height: 1.6;
        margin-top: 0;
      }
    }
  }
}


@media (max-width: 600px) {
  .post-likes-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}