

#full-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
  
  color: var(--text-light);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  backdrop-filter: blur(10px);
  
  @media (max-width: 768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
  }
  .loader-text {
    font-size: 3rem;
    font-family: 'Lato';
    display: flex;
    gap: 8px;

    .letter {
      display: inline-block;
      animation: jump 1s infinite ease-in-out;

      span{
        font-weight: bold;
      }

      /* span {
        text-shadow:
          -1px -1px 0 white,
          1px -1px 0 white,
          -1px 1px 0 white,
          1px 1px 0 white;
      } */

      .letter-blue {
        color: #056ed6;

      }

      .letter-green {
        color: green;
      }

      .letter-red {
        color: red;
      }

      .letter-yellow {
        color: yellow;
      }

    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

div.ganesha-loader{
  animation: jump 1.25s infinite ease-in-out;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }
}
