

body,
html {
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
}

.members-page {
  padding: 40px 12px;
  background: transparent;
  min-height: 100vh;
  text-align: center;
  height: 100vh;
  overflow-x: auto;       
  overflow-y: scroll;   

  scrollbar-width: none;    
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 0;               
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 20px;
    color: var(--primary-dark);
  }

  #searchInput {
    width: 90%;
    margin: auto;
    padding: 0.8rem;
    margin-top: 8px;
    margin-bottom: 48px;
    border: 0.75px solid grey;
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: var(--text-light);
    outline: none;
    max-width: 400px;

    &:focus {
      border: 1px solid var(--primary);
    }
  }

  .members-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1.2fr));
    gap: 24px;
    padding: 0 10px;
  }

  .member-card {
    background: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(20px);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border: 0.5px solid grey;
    text-align: left;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .upper {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }

    img {
      width: 72px;
      height: 72px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 12px;
      cursor: pointer;
    }

    .name {
      font-size: 1.15rem;
      margin: 0;
      padding: 0;
      margin-bottom: 4px;
      color: white;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    span.admin-badge {
      margin-left: 0;
      background: var(--primary-dark);
      color: white;
      border-radius: 4px;
      padding: 3px 6px;
      text-transform: uppercase;
      font-size: 10px;

      &.grey{
        background: rgb(69, 69, 69);
      }
    }

    .year {
      padding: 0;
      margin: 0;
      margin-top: 8px;
      color: var(--text-muted);
      font-size: 14px;
    }

    .username {
      color: var(--text-muted);
      font-size: 14px;
      cursor: pointer;
    }

    .bio {
      font-size: 0.9rem;
      color: var(--text-light);
      margin-bottom: 16px;
    }

    .social-links {
      display: flex;
      margin-top: 8px;
      justify-content: left;
      gap: 1rem;

      a {
        color: rgb(172, 172, 172);
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
          color: rgb(118, 118, 118);
        }

        span {
          font-size: 18px;
        }

        span.fa-phone-volume {
          font-size: 17px;
        }
      }
    }
  }
}


@media (max-width: 680px) {
  .members-container {
    display: block;
    text-align: center;

    .member-card {
      margin: auto;
      width: 80vw;
      max-width: none;
    }
  }
}