@use 'global' as *;
@use 'components/popup/mixins' as *;

*{
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;

}

.memories-container {
  background: $bg-dark;
  padding: 2rem;
  color: $text-light;

  h1 {
    text-align: left;
    margin-bottom: 24px;
    color: $primary;
    user-select: none;
  }

  .tabs {
    display: flex;
    margin-bottom: 1.4rem;

    .tab {
      background: $bg-dark2;
      border: none;
      color: $text-light;
      padding: 0.6rem 1.2rem;
      padding-right: 1.5rem;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-right: 0.5rem;
      border-radius: 4px;

      &.active {
        background: $primary-dark;
      }

      &:hover {
        background: $primary;
      }

      .fal {
        margin-right: 12px;
      }
    }
  }

  .tab-content {
    min-height: 60vh;
    &.hidden {
      display: none;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1rem;

      div {
        cursor: pointer;
        background-color: $bg-dark2;
        padding: 6px 8px;
        border-radius: 6px;

        p.fileinfo {
          margin: 0;
          margin-bottom: 4px;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          padding: 10px 0 10px 4px;
          width: 100%;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .fal.fa-heart, .fal.fa-message,
          .fas {
            margin-right: 6px;

            &.fa-heart {
              font-size: 15px;
            }
          }

          .filename{
            white-space: nowrap;
            max-width: 50rem; 
            overflow: hidden;
            margin-right: 8px;
            text-overflow: ellipsis; 
            display: inline-block;
          }
          

          .fal.fa-image, .fal.fa-video::before{
            margin-right: 12px;
            padding-bottom: 3px;
          }
        }

        img {
          width: 100%;
          height: 200px;
          border-radius: 4px;
          object-fit: cover;
          background: $bg-dark2;
          transition: transform 0.2s ease;
          -moz-drag-over: none;
          -webkit-user-drag: none;
          cursor: pointer;
        }
      }


    }

    .folders {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 1.5rem;

      .folder {
        background: $bg-dark3;
        padding: 12px 16px;
        border-radius: 4px;
        min-width: 150px;
        text-align: center;
        cursor: pointer;
        color: $text-light;
        display: flex;
        align-items: center;
        justify-content: left;

        span.fal {
          font-size: 18px;
          display: block;
          margin-right: 12px;
        }

        &:hover {
          color: $text-light;
          background: $primary-dark;
        }
      }
    }
  }
}



#view-image-popup {
  @include fullscreen-popup(0.9);

  .view-image-box {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .heading {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      padding-left: 16px;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;

      .title {
        span {
          margin-right: 12px;
        }
      }

      p.close-icon {
        margin: 12px;
        margin-left: auto;
        margin-right: 16px;
        background-color: $bg-dark2;
        padding: 8px;
        padding-top: 9px;
        font-size: 14px;
        width: 32px;
        height: 32px;
        border: 0.2px solid $text-muted;
        color: white;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
      }
    }

    .view-image-large {
      text-align: center;
      padding-top: 16px;
      min-width: 250px;
      display: flex;
      gap: 12px;
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
      }

      img#imgLarge {
        width: 100%;
        max-width: 90vw;
        height: 100%;
        max-height: 80vh;
        object-fit: scale-down;
      }
    }
  }

}

#view-video-popup {
  @include fullscreen-popup(0.9);

  .view-video-box {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .heading {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      padding-left: 16px;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;

      .title {
        span {
          margin-right: 12px;
        }
      }

      p.close-icon {
        margin: 12px;
        margin-left: auto;
        margin-right: 16px;
        background-color: $bg-dark2;
        padding: 8px;
        padding-top: 9px;
        font-size: 14px;
        width: 32px;
        height: 32px;
        border: 0.2px solid $text-muted;
        color: white;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
      }
    }

    .view-video-large {
      text-align: center;
      padding-top: 16px;
      display: flex;
      justify-content: center;
      height: 90vh;
      display: flex;
      gap: 12px;
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 0;
      }

      iframe {
        width: 100%;
        max-width: 90vw;
        height: 100%;
        max-height: 80vh;
        object-fit: scale-down;
      }
    }
  }

}

@media (max-width: 1024px) {
  .view-image-large {
    flex-direction: column;
    text-align: center !important;

    img#imgLarge {
      width: 90% !important;
      max-width: 90vw !important;
      height: 45% !important;
      max-height: 80vh !important;
      margin: 0 auto !important;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  color: $text-muted;
  margin: 12px 0;
  margin-bottom: 24px;

  a {
    color: $text-light;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }

    &::after {
      content: "›";
      margin: 0 8px;
      color: $text-muted;
    }
    &:last-of-type{
      color:$primary;
    }

    span.fal{
      margin-right: 8px;
    }
  
  &:last-of-type::after {
    content: none;
  }
}
}
