@use 'global' as *;
@use 'components/popup/mixins' as *;
@use 'components/home/posts' as *;

.profile-page {
  font-family: 'Lato', sans-serif;
  color: $text-light;
  background-color: $bg-dark;
  padding-bottom: 3rem;

  .cover-photo {
    width: 100%;
    height: 250px;
    overflow: hidden; 

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-info-container {
    position: relative;
    margin-top: -75px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 600px){
      margin-top: -92px;
    }

    .profile-photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid $bg-dark;
      margin-bottom: 0.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .user-details {
      text-align: left;

      p.name {
        font-size: 20px;
        margin: 0;
      }

      .username {
        color: grey;
        font-size: 14px;
      }

      .action-buttons {
        margin: 0.75rem 0;
        display: flex;
        gap: 1rem;

        button {
          padding: 0.5rem 1.2rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-weight: 500;

          &.message-btn {
            background-color: $primary-dark;
            color: white;

            &:hover {
              background-color: $primary;
            }
          }

          &.email-btn, &.call-btn {
            background-color: rgba(72, 72, 72, 0.6);
            color: white;

            &:hover {
              background-color: rgba(72, 72, 72, 0.8);
            }

            span.fal{
              margin-right: 8px;
            }

            span.fa-phone{
              font-size: 12px;
            }
          }
        }
      }

      .bio {
        color: $text-muted;
        max-width: 500px;
        margin-top: 0.5rem;
      }

      .social-links {
      display: flex;
      margin: 12px 0;
      justify-content: left;
      gap: 1rem;

      a {
        color: rgb(172, 172, 172);
        font-size: 19px;
        transition: color 0.3s ease;

        &:hover {
          color: rgb(118, 118, 118);
        }

        span {
          font-size: 18px;
        }
      }
    }
    }
  }

  .user-posts-section {
    padding: 2rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $text-disabled;
      padding-bottom: 0.5rem;
    }

    .posts-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;

      .post-card {
        background: $bg-dark2;
        border-radius: 8px;
        padding: 0.75rem;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        img, video {
          width: 100%;
          border-radius: 4px;
          margin-bottom: 0.5rem;
          object-fit: cover;
        }

        p {
          color: $text-light;
          font-size: 0.95rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-page {
    .profile-info-container {
      padding: 1rem;

      .profile-photo {
        width: 120px;
        height: 120px;
      }
    }

    .user-posts-section {
      padding: 1rem;
    }
  }
}

.tabs-container {
  margin-top: 8px;
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .tab-btn {
      padding: 10px 12px;
      background-color: transparent;
      border: none;
      color: grey;
      cursor: pointer;
      border-bottom: 2px solid rgba(128, 128, 128, 0.3);
      transition: all 0.3s ease;
      transition-duration: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 8px;
      min-width: 120px;
      padding-right: 24px;

      .helper-text{
        font-size: 13px;
        
        display: inline;
        margin-bottom: 2px;
      }

      span{
        font-size: 18px;
        margin-right: 4px;
        width: 28px;
      }
      @media (max-width: 600px) {
        padding: 12px 0;
        padding-right: 10px;
        width: 33.3%;

        .helper-text{
          font-size: 12px;
        }
        span{
          font-size: 16px;
        }
      }


      &.active {
        background-color: rgba(122, 104, 147, 0.1);
        color: white;
        border-bottom: 2px solid $primary;
        border-radius: 4px 4px 0 0;
      }
    }
  }

  .tab-content {
    .tab-panel {
      display: none;

      .posts-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 0;
      padding: 0;
      margin: 0;
      height: 100vh;

      .post-card {
        background: transparent;
        overflow: hidden;
        width: auto;
        height: auto;
        border: 1.5px solid $bg-dark;

        img, video {
          width: 100%;
          height: auto;
          object-fit: cover;
          margin: 0;
          padding: 0;
        }

        p {
          color: $text-light;
          font-size: 0.95rem;
        }
      }
    }

      &.active {
        display: block;
      }

      .empty-msg {
        color: $text-muted;
        text-align: center;
        margin-top: 2rem;
      }

      .about-section {
        background: transparent;
        padding: 16px;
        border-radius: 6px;
        width: 100%;
        max-width: 450px;
        min-width: 340px;
        margin: auto;
        height: 100vh;
        
        div.top-box{
          display: flex;
          align-items: center;
          width: 100%;
          gap: 12px;

          .dob-info, .year-info{
            span.fal{
              font-size: 20px;
            }

            padding: 8px 16px;
            width: 50%;
            background-color: rgba(128, 128, 128, 0.25);
            border: 0.1px solid $text-muted;
            border-radius: 8px;
            line-height: 36px;
          }
        }

        div.low-box{
          margin-top: 12px;
          padding: 0 16px;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.25);
            border: 0.1px solid $text-muted;
            border-radius: 8px;
          p.heading{
            font-size: 17px;
          }

          p a{
            color: white;
            font-weight: 300;
          }

          p.no-links{
            color: $text-muted;
          }

          p span{
            font-size: 16px;
            margin-right: 2px;
            width: 28px;
          }
        }
      }
    }
  }
}


.login-banner{
  @include fullscreen-popup;

  .login-required-box{
    width: 90vw;
    max-width: 400px;
    height: auto;
    max-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $bg-dark;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    padding-top: 48px;
    line-height: 26px;

    .fa-xmark{
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
      font-size: 20px;
      padding: 8px;
    }

    .user-profile{
      width: 132px;
      height: 132px;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid rgb(81, 80, 80);
    }

    .signup-btn{
      background: $primary;
      padding: 0.8rem;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: $text-light;
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        background: $primary-dark;
      }
    }

    .login-btn{
      background: rgba(111, 111, 111, 0.2);
      padding: 0.8rem;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: $text-light;
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        background: rgba(111, 111, 111, 0.4);
      }
    }
  }
}




.login-box{
  text-align: center;
  margin-top: 48px;
  p{
    font-size: 18px;
  }
}


@media (max-width: 600px) {
  .post-likes-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}