@use 'components/popup/mixins' as *;

body {
  height: 100vh;
  backdrop-filter: blur(6px);
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;

  @media (max-width: 768px) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/jnv-bg-1.jpg') center center / cover no-repeat;
  }
}

.settings-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: transparent;
  color: white;
  border-radius: 12px;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .links {
    width: 100%;
    text-align: left;

    ul {
      text-decoration: none;
      list-style: none;
      padding: 0;
      padding-bottom: 12px;
      border-bottom: 1px solid var(--text-muted);

      &:last-of-type {
        border-bottom: none;
      }

      &#account {
        li {
          a {
            color: red !important
          }
        }
      }

      li {
        padding: 8px 12px;
        padding-left: 0;
        line-height: 30px;
        margin-top: 8px;
        border-radius: 4px;
        min-width: 250px !important;
        cursor: pointer;

        &:hover {
          background-color: rgba(81, 81, 81, 0.2);
        }

        a {
          padding-left: 12px;
          color: white;

          span {
            width: 28px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

#notification-settings-popup {
  @include fullscreen-popup;

  .notification-settings-box {
    @include popup-box;

    .notification-settings-list {
      padding: 20px;

      .form-section {
        line-height: 28px;
        display: flex;
        gap: 1rem;
        flex-direction: column;

        label {
          display: block;
          cursor: pointer;

          input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }

      #settings-status {
        margin: 1rem 0;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#change-appearance-popup {
  @include fullscreen-popup;

  .change-appearance-box {
    @include popup-box;

    .change-appearance-list {
      padding: 20px;

      .form-section {
        line-height: 28px;
        display: flex;
        align-items: center;
        gap: 1rem;

        label {
          display: block;
          cursor: pointer;

          input[type="radio"] {
            margin-right: 10px;
          }
        }

        #theme-select, #font-select {
          padding: 6px 12px;
          border-radius: 2px;
          background-color: var(--bg-dark3);
          color: white;
        }
      }

      #change-appearance-status {
        margin: 1rem 0;
        font-weight: 500;
        width: 100%;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#change-password-popup {
  @include fullscreen-popup;

  .change-password-box {
    @include popup-box;

    .change-password-list {
      padding: 20px;

      input {
        @include popup-inputs;
      }

      #change-password-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#report-problem-popup {
  @include fullscreen-popup;

  .report-problem-box {
    @include popup-box;

    .report-problem-list {
      padding: 20px;

      input,
      textarea {
        @include popup-inputs;
      }

      #report-problem-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#give-suggestion-popup {
  @include fullscreen-popup;

  .give-suggestion-box {
    @include popup-box;

    .give-suggestion-list {
      padding: 20px;

      input,
      textarea {
        @include popup-inputs;
      }

      #give-suggestion-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#change-email-popup {
  @include fullscreen-popup;

  .change-email-box {
    @include popup-box;

    .change-email-list {
      padding: 20px;

      input {
        @include popup-inputs;
      }

      #change-email-status {
        margin-top: 4px;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

#privacy-settings-popup {
  @include fullscreen-popup;

  .privacy-settings-box {
    @include popup-box;

    .privacy-settings-list {
      padding: 20px;

      .form-section {
        line-height: 28px;

        label {
          display: block;
          margin-bottom: 0.75rem;
          cursor: pointer;

          input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }

      #privacy-settings-status {
        margin: 1rem 0;
        font-weight: 500;
      }

      button[type="submit"] {
        @include popup-button;
      }
    }
  }
}

@media (max-width: 600px) {

  .notification-settings-box,
  .change-appearance-box,
  .privacy-settings-box,
  .change-password-box,
  .give-suggestion-box,
  .report-problem-box,
  .change-email-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}