.posts {
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-dark);
  border-radius: 8px;
  margin: auto;
  padding: 0 24px 12px 23px;
  box-sizing: border-box;

  #posts-loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: transparent;
    color: var(--text-light);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.7s ease;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      display: none;
    }

    .posts-loader-text {
      font-size: 2rem;
      font-family: 'Lato';
      display: flex;
      gap: 8px;

      .letter {
        display: inline-block;
        animation: jump 1s infinite ease-in-out;

        span {
          text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;


          &.letter-blue {
            color: blue;
          }

          &.letter-green {
            color: green;
            -webkit-text-stroke: 0.005px white;
          }

          &.letter-red {
            color: red;
            -webkit-text-stroke: 0.005px white;
          }

          &.letter-yellow {
            color: yellow;
            -webkit-text-stroke: 0.005px white;
          }
        }
      }
    }
  }

  @keyframes jump {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-16px);
    }
  }

  .heading {
    font-size: 20px;
    font-weight: bold;
  }

  .post {
    margin-top: 16px;
    border-top: 1px solid var(--text-muted);
    padding-top: 16px;

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }

    .user-info {
      display: flex;
      align-items: center;
      cursor: pointer;

      .username {
        font-size: 14px;
        color: var(--text-muted);
      }

      img.user-profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
        object-fit: cover;
      }
    }

    .post-data {
      padding-top: 12px;
      line-height: 24px;

      p {
        margin: 0;
      }
    }

    .post-data .post-img {
      width: 100%;
      object-fit: contain;
      max-height: 500px;
      margin-top: 12px;
      border-radius: 4px;
    }

    .post-buttons {
      margin-top: 8px;
      padding: 8px 0;
      display: flex;

      .btns-right {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .fa-trash {
          cursor: pointer;
          margin-left: 12px;
        }

        button {
          margin-right: 0 !important;
        }
      }

      button {
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        margin-right: 16px;
        padding: 0;

        &.like-btn {
          margin-right: 12px;
        }

        &:hover {
          color: var(--text-muted);
        }

        span.fal,
        span.fas {
          margin-right: 6px;
        }

        span.fas {
          color: var(--primary);
        }
      }
    }

    .extend-like-msg {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: grey;

      img {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 6px;
        object-fit: cover;
      }

      span {
        color: rgb(189, 189, 189);
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

#post-popup.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;

  &.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .post-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 800px;
    background: var(--bg-dark);
    border-radius: 12px;
    padding: 1rem 1rem 1rem 1rem;
    padding-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    .editor {
      min-height: 120px;
      border: 1px solid #555;
      padding: 10px;
      background: var(--bg-dark);
      color: var(--text-light);
      border-radius: 0 0 8px 8px;
      white-space: pre-wrap;

      @media (max-width: 600px) {
        max-height: 200px;
      }

      &:empty::before {
        content: attr(placeholder);
        color: var(--text-muted);
      }

      .mention {
        color: var(--primary);
        font-weight: 500;
        cursor: pointer;
        user-select: none;
      }
    }


    .mention-box {
      position: absolute;
      background: var(--bg-dark2);
      border: 1px solid var(--primary);
      border-radius: 8px;
      padding: 0;
      margin: 0;
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
      z-index: 100;
      width: 250px;
      top: 20vh;
      left: auto;

      li {
        padding: 4px 0 6px 8px;
        cursor: pointer;
        color: var(--text-light);

        display: flex;
        align-items: center;

        &:hover {
          background-color: var(--primary-dark);
        }

        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          margin-right: 8px;
          margin-top: 4px;
          object-fit: cover;
        }
      }

      &.hidden {
        display: none;
      }
    }


    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      border-bottom: 1px solid 555;

      .close-icon {
        cursor: pointer;
        font-size: 1.1rem;
        background: var(--bg-dark2);
        border: 1px solid var(--text-muted);
        border-radius: 4px;
        padding: 0.5rem;
        color: white;
        min-width: 36px;
      }
    }

    textarea {
      resize: vertical;
      height: 100px;
      padding: 0.6rem;
      background: var(--input-bg);
      border: 1px solid var(--text-muted);
      border-radius: 6px;
      color: white;
      font-size: 1rem;
      font-family: inherit;
      outline: none;
    }

    .upload-label {
      cursor: pointer;
      background: var(--primary-dark);
      color: white;
      padding: 0.4rem 1rem;
      border-radius: 4px;
      display: inline-block;
      font-size: 0.9rem;
      transition: background 0.2s ease;
      margin: 1rem 0;
      width: 130px;

      &:hover {
        background: var(--primary);
      }
    }

    input[type='file'] {
      display: none;
    }

    .preview {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      img,
      video {
        max-width: 100px;
        max-height: 100px;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    .action-buttons {
      text-align: right;

      button {
        align-self: flex-end;
        color: white;
        border: none;
        padding: 10px 12px;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;

        &.create-post-btn {
          background: var(--primary-dark);
          margin-left: 8px;

          &:hover {
            background: var(--primary);
          }
        }

        &.cancel-btn {
          background: var(--bg-dark2);

          &:hover {
            background: var(--primary);
          }
        }
      }
    }


  }
}

@media (max-width: 600px) {
  .post-box {
    width: 100vw !important;
    max-height: 100vh !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}

.create-post-box.small-only {
  background-color: var(--bg-dark2);
  padding: 12px 20px;
  margin: 0 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  p.heading {
    margin: 8px 0 12px;
    font-size: 18px;
  }

  .pseudo-post-box {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  input {
    width: 100%;
    padding: 10px 8px;
    margin: 0.5rem 0;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 6px;
    background: var(--bg-dark);
    color: var(--text-light);
    outline: none;
    cursor: pointer;

    &:focus {
      border: 1px solid var(--primary);
    }
  }

  span.fal {
    font-size: 20px;
  }
}


.post-likes-list {
  overflow-y: auto;

  li {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.mention-link {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.reaction-buttons {
  display: flex;
  align-items: center;
  margin-right: 8px;
  padding-bottom: 2px;
}

.reaction-emoji {
  background-color: #f0f2f5;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction-emoji:hover {
  transform: scale(1.15);
}

.reaction-emoji.reacted {
  background-color: rgba(128, 128, 128, 0.15) !important;
  border: 1px solid var(--primary) !important;
  padding: 2px 3px 5px 3px !important;
  width: 30px;
  height: 30px;
  margin-top: 4px;
}