<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/styles/css/404.css" />
</head>

<body>
  <%- include('../partials/navbar') %>
  <div class="not-found-container">
    <h2>404</h2>
    <p class="heading">Page Not Found</p>
    <p class="message">Oops! The page you're looking for doesn't exist.</p>
    <a href="/" class="back-btn"><span class="fal fa-house"></span>Go to Home</a>
  </div>
  <%- include('../partials/footer') %>
</body>

</html>