<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/members.css">
</head>
<body>
  <%- include('../partials/navbar') %>

  <section class="members-page">
    <h2>Members of 2k17-24 batch</h2>
    <input type="text" id="searchInput" placeholder="Search by name, username, or email..." />

    <div class="members-container" id="membersContainer">
      

        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        <div class="member-card">
            <div class="upper">
                <img src="/images/ujwal_profile.jpg" class="upper-img" alt="Profile of Ujwal Wadhai">
                <div class="upper-info">
                    <p class="name">Ujwal Wadhai</p>
                    <span class="username" onclick="window.location.href='/u/ujwalwadhai'">@ujwalwadhai</span>
                    <p class="year">2017-24 &nbsp;in JNV</p>
                </div>
            </div>
            <p class="bio">Just a simple developer</p>
            <div class="social-links">
                <a href="https://github.com/ujwalwadhai" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/ujwalwadhai" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/ujwal__w" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:wadhaiujwal@gmail.com" target="_blank"><i class="fal fa-envelope"></i></a>
            </div>
        </div>
        
    </div>
  </section>

  <script>
    const input = document.getElementById('searchInput');
    const cards = document.querySelectorAll('.member-card');

    input.addEventListener('input', () => {
      const val = input.value.toLowerCase();
      cards.forEach(card => {
        const text = card.innerText.toLowerCase();
        card.style.display = text.includes(val) ? 'block' : 'none';
      });
    });
  </script>
</body>
</html>
