<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/signup_login.css"/>
  <title>Create Account - 2k17 ❤️</title>
</head>
<body>
  <div class="container">
    <%- include('../partials/login-carousel.ejs') %>


    <div class="right-pane">
      <div class="signup-form">
        <span class="only-small"><br><br><br><br><br><br><br><br></span>
        <h1>Let the journey begin!</h1>
        <p>Already have an account? &nbsp;<a href="/login">Log in</a></p><br>
        <small class="grey-1" id="info"><span class="fal fa-info-circle"></span> &nbsp; Use the unique code from Ujwal to activate your account. Your details will auto-fill. Default password is your DOB (DDMMYYYY). You can update it later.
        </small><br><br>
        <div>
        <div class="username-field">
            <input type="text" autocomplete="off" oninput="checkUsername(this, this.value)" id="signup-username" name="username" placeholder="Choose username" />
            <span id="status-icon" class="status-icon fal fa-user-circle"></span>
        </div>
        <small id="status-message" class="grey-1"></small>
        <input type="email" name="email" id="email" placeholder="Email *" required/>
        <input type="text" name="code" autocomplete="off" oninput="this.value = this.value.toUpperCase()" id="code" placeholder="Enter activation code" required>
        <!-- <div class="password-field">
          <input type="password" placeholder="Enter your password" />
          <span class="eye-icon fal fa-eye"></span>
        </div> --> <br>
        <label class="terms">
          <input type="checkbox" />
          I agree to the &nbsp; <a href="/terms-conditions"> Terms & Conditions</a>
        </label><br>
        </div>
        
        <button onclick="signup()" id="signup-btn" class="primary-btn">Create Account</button><br><br>
        <!-- <div class="divider">Or register with</div>
        <div class="social-buttons">
          <button class="google"><span class="fab fa-google"></span> &nbsp; Google</button>
          <button class="apple">Apple</button>
        </div>-->
        <span class="only-small"><br><br></span>
      </div>
    </div>
  </div>

  <script src="/js/signup.js"></script>
</body>
</html>
